@-webkit-keyframes glowing {
  /* line 8, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 9, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 10, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

@-khtml-keyframes glowing {
  /* line 14, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 15, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 16, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

@-moz-keyframes glowing {
  /* line 20, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 21, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 22, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

@-ms-keyframes glowing {
  /* line 26, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 27, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 28, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

@-o-keyframes glowing {
  /* line 32, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 33, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 34, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

@keyframes glowing {
  /* line 38, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 39, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 40, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

/* line 25, ../scss/partials/_buttons.scss */
big-ole-butts {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: '"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif';
  color: #444444;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center; }
  /* line 43, ../scss/partials/_buttons.scss */
  big-ole-butts:hover {
    background-color: #eeeeee;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
    background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
    background: -o-linear-gradient(top, #ffffff, #dcdcdc);
    background: linear-gradient(top, #ffffff, #dcdcdc); }
  /* line 47, ../scss/partials/_buttons.scss */
  big-ole-butts:active {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    background: #eeeeee;
    color: #bbbbbb; }
  /* line 53, ../scss/partials/_buttons.scss */
  big-ole-butts:focus {
    outline: none; }

/* line 59, ../scss/partials/_buttons.scss */
inputbig-ole-butts, buttonbig-ole-butts {
  height: 34px;
  cursor: pointer; }

/* line 65, ../scss/partials/_buttons.scss */
big-ole-butts-block {
  display: block; }

/* line 74, ../scss/partials/_buttons.scss */
big-ole-butts.disabled,
big-ole-butts.disabled:hover,
big-ole-butts.disabled:active,
inputbig-ole-butts:disabled,
buttonbig-ole-butts:disabled {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  background: #EEE;
  border: 1px solid #DDD;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default; }

/* line 84, ../scss/partials/_buttons.scss */
big-ole-butts-wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -o-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(top, #e3e3e3, #f2f2f2);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block; }

/* line 100, ../scss/partials/_buttons.scss */
big-ole-butts-rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

/* line 100, ../scss/partials/_buttons.scss */
big-ole-butts-pill {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px; }

/* line 100, ../scss/partials/_buttons.scss */
big-ole-butts-circle {
  -webkit-border-radius: 240px;
  -moz-border-radius: 240px;
  -ms-border-radius: 240px;
  -o-border-radius: 240px;
  border-radius: 240px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 120px;
  line-height: 120px;
  height: 120px;
  padding: 0px;
  border-width: 4px;
  font-size: 18px; }

/* line 135, ../scss/partials/_buttons.scss */
big-ole-butts-primary {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1a1aff), color-stop(100%, #0000e6));
  background: -webkit-linear-gradient(top, #1a1aff, #0000e6);
  background: -moz-linear-gradient(top, #1a1aff, #0000e6);
  background: -o-linear-gradient(top, #1a1aff, #0000e6);
  background: linear-gradient(top, #1a1aff, #0000e6);
  background-color: blue;
  border-color: #0000cc;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 102, 0.35); }
  /* line 142, ../scss/partials/_buttons.scss */
  big-ole-butts-primary:hover {
    background-color: blue;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3333ff), color-stop(100%, #0000e6));
    background: -webkit-linear-gradient(top, #3333ff, #0000e6);
    background: -moz-linear-gradient(top, #3333ff, #0000e6);
    background: -o-linear-gradient(top, #3333ff, #0000e6);
    background: linear-gradient(top, #3333ff, #0000e6); }
  /* line 146, ../scss/partials/_buttons.scss */
  big-ole-butts-primary:active {
    background: #1919e6;
    color: #000099; }

/* line 135, ../scss/partials/_buttons.scss */
big-ole-butts-action {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009a00), color-stop(100%, #006700));
  background: -webkit-linear-gradient(top, #009a00, #006700);
  background: -moz-linear-gradient(top, #009a00, #006700);
  background: -o-linear-gradient(top, #009a00, #006700);
  background: linear-gradient(top, #009a00, #006700);
  background-color: green;
  border-color: #004d00;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35); }
  /* line 142, ../scss/partials/_buttons.scss */
  big-ole-butts-action:hover {
    background-color: green;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b300), color-stop(100%, #006700));
    background: -webkit-linear-gradient(top, #00b300, #006700);
    background: -moz-linear-gradient(top, #00b300, #006700);
    background: -o-linear-gradient(top, #00b300, #006700);
    background: linear-gradient(top, #00b300, #006700); }
  /* line 146, ../scss/partials/_buttons.scss */
  big-ole-butts-action:active {
    background: #0d730d;
    color: #001a00; }

/* line 135, ../scss/partials/_buttons.scss */
big-ole-butts-highlight {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fa9915), color-stop(100%, #d87e04));
  background: -webkit-linear-gradient(top, #fa9915, #d87e04);
  background: -moz-linear-gradient(top, #fa9915, #d87e04);
  background: -o-linear-gradient(top, #fa9915, #d87e04);
  background: linear-gradient(top, #fa9915, #d87e04);
  background-color: #f18d05;
  border-color: #bf7004;
  color: white;
  text-shadow: 0 -1px 1px rgba(91, 53, 2, 0.35); }
  /* line 142, ../scss/partials/_buttons.scss */
  big-ole-butts-highlight:hover {
    background-color: #f18d05;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fba42e), color-stop(100%, #d87e04));
    background: -webkit-linear-gradient(top, #fba42e, #d87e04);
    background: -moz-linear-gradient(top, #fba42e, #d87e04);
    background: -o-linear-gradient(top, #fba42e, #d87e04);
    background: linear-gradient(top, #fba42e, #d87e04); }
  /* line 146, ../scss/partials/_buttons.scss */
  big-ole-butts-highlight:active {
    background: #d8891e;
    color: #8d5303; }

/* line 135, ../scss/partials/_buttons.scss */
big-ole-butts-caution {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8543f), color-stop(100%, #d9331a));
  background: -webkit-linear-gradient(top, #e8543f, #d9331a);
  background: -moz-linear-gradient(top, #e8543f, #d9331a);
  background: -o-linear-gradient(top, #e8543f, #d9331a);
  background: linear-gradient(top, #e8543f, #d9331a);
  background-color: #e54028;
  border-color: #c22d18;
  color: white;
  text-shadow: 0 -1px 1px rgba(103, 24, 13, 0.35); }
  /* line 142, ../scss/partials/_buttons.scss */
  big-ole-butts-caution:hover {
    background-color: #e54028;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eb6855), color-stop(100%, #d9331a));
    background: -webkit-linear-gradient(top, #eb6855, #d9331a);
    background: -moz-linear-gradient(top, #eb6855, #d9331a);
    background: -o-linear-gradient(top, #eb6855, #d9331a);
    background: linear-gradient(top, #eb6855, #d9331a); }
  /* line 146, ../scss/partials/_buttons.scss */
  big-ole-butts-caution:active {
    background: #cd5240;
    color: #952312; }

/* line 135, ../scss/partials/_buttons.scss */
big-ole-butts-royal {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99389f), color-stop(100%, #752a79));
  background: -webkit-linear-gradient(top, #99389f, #752a79);
  background: -moz-linear-gradient(top, #99389f, #752a79);
  background: -o-linear-gradient(top, #99389f, #752a79);
  background: linear-gradient(top, #99389f, #752a79);
  background-color: #87318c;
  border-color: #632466;
  color: white;
  text-shadow: 0 -1px 1px rgba(26, 9, 27, 0.35); }
  /* line 142, ../scss/partials/_buttons.scss */
  big-ole-butts-royal:hover {
    background-color: #87318c;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ab3eb2), color-stop(100%, #752a79));
    background: -webkit-linear-gradient(top, #ab3eb2, #752a79);
    background: -moz-linear-gradient(top, #ab3eb2, #752a79);
    background: -o-linear-gradient(top, #ab3eb2, #752a79);
    background: linear-gradient(top, #ab3eb2, #752a79); }
  /* line 146, ../scss/partials/_buttons.scss */
  big-ole-butts-royal:active {
    background: #764479;
    color: #3e1740; }

/* line 135, ../scss/partials/_buttons.scss */
big-ole-butts-silly {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffdae0), color-stop(100%, #ffa6b6));
  background: -webkit-linear-gradient(top, #ffdae0, #ffa6b6);
  background: -moz-linear-gradient(top, #ffdae0, #ffa6b6);
  background: -o-linear-gradient(top, #ffdae0, #ffa6b6);
  background: linear-gradient(top, #ffdae0, #ffa6b6);
  background-color: pink;
  border-color: #ff8da1;
  color: white;
  text-shadow: 0 -1px 1px rgba(255, 39, 77, 0.35); }
  /* line 142, ../scss/partials/_buttons.scss */
  big-ole-butts-silly:hover {
    background-color: pink;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff3f5), color-stop(100%, #ffa6b6));
    background: -webkit-linear-gradient(top, #fff3f5, #ffa6b6);
    background: -moz-linear-gradient(top, #fff3f5, #ffa6b6);
    background: -o-linear-gradient(top, #fff3f5, #ffa6b6);
    background: linear-gradient(top, #fff3f5, #ffa6b6); }
  /* line 146, ../scss/partials/_buttons.scss */
  big-ole-butts-silly:active {
    background: #f9c6cf;
    color: #ff5a77; }

/* line 160, ../scss/partials/_buttons.scss */
big-ole-butts-flat {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #eeeeee;
  border: none;
  text-shadow: none; }
  /* line 169, ../scss/partials/_buttons.scss */
  big-ole-butts-flat:hover {
    background: #fbfbfb; }
  /* line 172, ../scss/partials/_buttons.scss */
  big-ole-butts-flat:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #eeeeee;
    color: #bbbbbb; }
  /* line 177, ../scss/partials/_buttons.scss */
  big-ole-butts-flat.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

/* line 189, ../scss/partials/_buttons.scss */
big-ole-butts-flat-primary {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: blue;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 198, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-primary:hover {
    background: #1a1aff; }
  /* line 201, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-primary:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #1919e6;
    color: #0000b3; }
  /* line 206, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-primary.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

/* line 189, ../scss/partials/_buttons.scss */
big-ole-butts-flat-action {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: green;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 198, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-action:hover {
    background: #009a00; }
  /* line 201, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-action:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #0d730d;
    color: #003400; }
  /* line 206, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-action.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

/* line 189, ../scss/partials/_buttons.scss */
big-ole-butts-flat-highlight {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #f18d05;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 198, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-highlight:hover {
    background: #fa9915; }
  /* line 201, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-highlight:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #d8891e;
    color: #a66103; }
  /* line 206, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-highlight.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

/* line 189, ../scss/partials/_buttons.scss */
big-ole-butts-flat-caution {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #e54028;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 198, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-caution:hover {
    background: #e8543f; }
  /* line 201, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-caution:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #cd5240;
    color: #ac2815; }
  /* line 206, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-caution.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

/* line 189, ../scss/partials/_buttons.scss */
big-ole-butts-flat-royal {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #87318c;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 198, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-royal:hover {
    background: #99389f; }
  /* line 201, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-royal:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #764479;
    color: #501d53; }
  /* line 206, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-royal.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

/* line 189, ../scss/partials/_buttons.scss */
big-ole-butts-flat-silly {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: pink;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 198, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-silly:hover {
    background: #ffdae0; }
  /* line 201, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-silly:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #f9c6cf;
    color: #ff738c; }
  /* line 206, ../scss/partials/_buttons.scss */
  big-ole-butts-flat-silly.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

/* line 221, ../scss/partials/_buttons.scss */
big-ole-butts-large {
  font-size: 19px;
  height: 38.4px;
  line-height: 38.4px;
  padding: 0px 30.72px; }

/* line 245, ../scss/partials/_buttons.scss */
inputbig-ole-butts-large, buttonbig-ole-butts-large {
  height: 40.4px; }

/* line 221, ../scss/partials/_buttons.scss */
big-ole-butts-small {
  font-size: 16px;
  height: 25.6px;
  line-height: 25.6px;
  padding: 0px 20.48px; }

/* line 245, ../scss/partials/_buttons.scss */
inputbig-ole-butts-small, buttonbig-ole-butts-small {
  height: 27.6px; }

/* line 221, ../scss/partials/_buttons.scss */
big-ole-butts-tiny {
  font-size: 12px;
  height: 22.4px;
  line-height: 22.4px;
  padding: 0px 17.92px; }

/* line 245, ../scss/partials/_buttons.scss */
inputbig-ole-butts-tiny, buttonbig-ole-butts-tiny {
  height: 24.4px; }

/* line 265, ../scss/partials/_buttons.scss */
big-ole-butts.glow {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -khtml-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: glowing;
  -khtml-animation-name: glowing;
  -moz-animation-name: glowing;
  -ms-animation-name: glowing;
  -o-animation-name: glowing;
  animation-name: glowing; }
/* line 268, ../scss/partials/_buttons.scss */
big-ole-butts.glow:active {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -ms-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white; }

/* line 279, ../scss/partials/_buttons.scss */
big-ole-butts-dropdown {
  position: relative;
  overflow: visible;
  display: inline-block; }
  /* line 284, ../scss/partials/_buttons.scss */
  big-ole-butts-dropdown big-ole-butts-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999; }
  /* line 295, ../scss/partials/_buttons.scss */
  big-ole-butts-dropdown .button .icon-caret-down {
    font-size: 90%;
    margin: 0px 0px 0px 3px;
    vertical-align: middle; }
  /* line 302, ../scss/partials/_buttons.scss */
  big-ole-butts-dropdown ulbig-ole-butts-dropdown-menu-below {
    top: 115%; }
  /* line 305, ../scss/partials/_buttons.scss */
  big-ole-butts-dropdown ulbig-ole-butts-dropdown-menu-above {
    bottom: 115%;
    top: auto; }
  /* line 311, ../scss/partials/_buttons.scss */
  big-ole-butts-dropdown ul {
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: none;
    position: absolute;
    background: #fcfcfc;
    top: -2px;
    left: -2px;
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    min-width: 102%; }
    /* line 325, ../scss/partials/_buttons.scss */
    big-ole-butts-dropdown ul li {
      padding: 0px;
      margin: 0px;
      display: block; }
      /* line 330, ../scss/partials/_buttons.scss */
      big-ole-butts-dropdown ul li:first-child a {
        -moz-border-radius-topleft: 3px;
        -webkit-border-top-left-radius: 3px;
        border-top-left-radius: 3px;
        -moz-border-radius-topright: 3px;
        -webkit-border-top-right-radius: 3px;
        border-top-right-radius: 3px; }
      /* line 333, ../scss/partials/_buttons.scss */
      big-ole-butts-dropdown ul li:last-child a {
        -moz-border-radius-bottomleft: 3px;
        -webkit-border-bottom-left-radius: 3px;
        border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -webkit-border-bottom-right-radius: 3px;
        border-bottom-right-radius: 3px; }
    /* line 339, ../scss/partials/_buttons.scss */
    big-ole-butts-dropdown ul big-ole-butts-dropdown-divider {
      -webkit-box-shadow: inset 0px 1px 0px white;
      -moz-box-shadow: inset 0px 1px 0px white;
      box-shadow: inset 0px 1px 0px white;
      border-top: 1px solid #e4e4e4; }
    /* line 344, ../scss/partials/_buttons.scss */
    big-ole-butts-dropdown ul a {
      display: block;
      padding: 0px 20px;
      text-decoration: none;
      font-size: 12px;
      color: #333333;
      line-height: 30px;
      white-space: nowrap; }
      /* line 353, ../scss/partials/_buttons.scss */
      big-ole-butts-dropdown ul a:hover {
        background-color: #3c6ab9;
        color: white; }
