// test

$body-bg: #fff;
$body-font-color: #222;
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

body {
    background-color: $body-bg;
    color: $body-font-color;
    font-family: $body-font-family;
    font-style: $body-font-style;
    font-weight: $body-font-weight;
}
.foo {
    color: #abcabc;
}

