$button_actions: 
('primary' blue #fff) ('action' green #fff) ('highlight' #F18D05 #FFF) ('caution' #E54028 #FFF) ('royal' #87318C #FFF) ('silly' pink #fff) ;
$button_styles: 
'rounded' 'pill' 'circle' ;
$button_sizes: 
'large' 'small' 'tiny' ;
$namespace: ".button";
$glow_namespace: ".glow";
$glow_color: #2c9adb;
$bgcolor: #EEE;
$height: 32px;
$circle-size: 120px;
$font-color: #666;
$font-size: 14px;
$font-weight: 300;
$font-family: '"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif';
$dropdown-background: #fcfcfc;
$dropdown-link-color: #333;
$dropdown-link-hover: #FFF;
$dropdown-link-hover-background: #3c6ab9;