//////////////////////////////////////////////////////////
//// BASE DEFAULTS /////////////////////////////////////////
////////////////////////////////////////////////////////////
$namespace: ".button"; //prefix for all classes
$glow_namespace: ".glow";
$glow_color: #2c9adb;
$bgcolor: #EEE;
$height: 32px;
.foo {color: blue;}
.bar {color: #abcabc;}