body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #444;
  background-color: #f8f8f8;
}
.container {
  width: 800px;
  margin: 50px auto;
  height: 400px;
  background-color: #eee;
  padding: 50px;
  border-radius: 5px;
}
.l-centered {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.select-wrap {
  width: 285px;
  margin: 0 auto;
  overflow: hidden;
  height: 40px;
  background: #f8f8f8;
  border: 1px solid #ccc;
}

.select-wrap select {
  background: transparent;
  width: 275px;
  padding: 5px;
  font-size: 16px;
  border: 0;
  height: 40px;
  display: inline-block;
  border-radius: 0;
  outline: none;
}
